<div class=margin>
  <h4> New Movie </h4>
  <form>
    <div>
      <label> Name </label>
      {{input type="text" value=model.title size="50"}}
    </div>
    <div>
      <label> Year... </label>
      {{input type="text" value=model.year size="50"}}
    </div>
    <div>
      <label> Score </label>
      {{input type="text" value=model.imdbrating size="50"}}
    </div>
    <div>
      <button {{action "createMovie" model}}> Add Movie</button>
    </div>
  </form>
</div>
