.margin {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 80px;
}

label{
    width: 40px;
    text-align: left;
}


.login-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  padding-top: 300px;
  padding-bottom: 300px;
}
